@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  body {
    @apply bg-app-bg min-h-screen font-sans text-gray-900;
  }

  #root {
    @apply min-h-screen flex flex-col;
  }
}
